.PersonInfo section {
    min-height: 100vh;
    padding: 10vh 10vw;
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0px 5px 10px 0px var(--t-blue);
}

.PersonInfo img {
    width: 2vmin;
    height: 2vmin;
    fill: var(--blue);
    margin-right: 8px;
}

.PersonInfo section>p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
    margin: 5px 8px;
}

.PersonInfo header h2,p{
    margin: 4px 0;
}

.Home h1 {
    color: white;
}

.Home main {
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.Home button {
    background-color: chocolate;
    color: black;
    padding: 16px 48px;
    border: 0;
    font-size: x-large;

}

.Home main button:hover {
    transform: translateY(-5px);
    transform: scale(0.97);
}

.greeting {
    margin: 0;
    padding: 2px 6px;
}

.greetingRot{
    transform: rotateX(180deg) translateY(20px);
    -webkit-mask-image: linear-gradient(transparent 30%, #fff);
    opacity: 0.3;
}