.Login {
    margin: 0;
    height: 100%;
}

.Login main {
    min-height: 90vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.Login h1 {
    margin: 8px 0;
}

.Login section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 2px;
}

.Login section label {
    margin: 5px 0;
    font-weight: bold;
}

.Login section p {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0px;
    margin: 8px 0px;
}

.Login section input {
    padding: 8px;
    border: 1px solid black;
}

.Login section button {
    background-color: white;
    color: black;
    border: 0;
    padding: 12px;
    text-align: center;
}

.Login section button:hover:enabled {
    transform: translateY(-5px);
    transform: scale(0.97);
}

.Login button:disabled{
    background-color: black;
    color: white;
}

.Login .error {
    margin: 0;
    height: 15px;
    padding: 5px 2px;
    color: #c80000;
}