.ArtworkGallery {
    margin: 0;
    height: 100%;
}

.ArtworkGallery main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ArtworkGallery section {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ArtworkGallery .boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
}

.ArtworkGallery .box {

    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 18rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ArtworkGallery .box:nth-child(4n+1) {
    clear: left;
}

.ArtworkGallery img{
    object-fit: scale-down;
}

.ArtworkGallery .row{
    display: flex;
}