.ArtworkPage {
    margin: 0;
    height: 100%;
}

.ArtworkPage main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ArtworkPage section {
    margin-top: 7%;
    width: 30%;
    display: flex;
    z-index: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.ArtworkPage section button {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 200px;
}

.ArtworkPage section button:hover:enabled {
    transform: translateY(-5px);
    transform: scale(0.97);
}

.ArtworkPage .column button {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 200px;
}

.ArtworkPage .column button:hover:enabled {
    transform: translateY(-5px);
    transform: scale(0.97);
}

.ArtworkPage .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 6.5% 0% 0% 40%;
}

.ArtworkGallery .boxes button {
    width: auto;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 200px;
}

.ArtworkGallery .boxes button:hover:enabled {
    transform: translateY(-5px);
    transform: scale(0.97);
}

.ArtworkGallery .boxes button:disabled{
    background-color: black;
    color: white;
    border: 2px solid black;
}