nav {
    height: 10vh;
    background-color: darkslategrey;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    box-shadow: 20px 20px 50px 10px dimgrey inset;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 12px 8px;
}

nav a:hover {
    background-color: yellow;
    color: blue;
    box-shadow: 0.1px 0.1px 2px yellow;
}

.Home {
    margin: 0;
    height: 100%;
}

.Home main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.Home section {
    margin-top: 5%;
    min-width: 100%;
    display: flex;
    z-index: 0;
}

.Home .image-background {
    display: flex;
    height: 88vh;
    min-width: 100%;
    background-image: url("../MediaFiles/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}